/* body{


    background-color: white;
}
/* .btn{
    background-color: blue;
    color: white;
}

.center{
    text-align: center;
} */

/* .company{
    margin-left:0.380in;
    height:76.8px;
    font-size: 12px;
    /* text-align: center; */
    margin-top: 0.302in;

}
nav{
    background-color: #898d8e;
    height: 100%;
    color: white;
    width: 100%;
}
.nav-item a{
    color: white;
    margin-left: 29px;
    font-size: 9.6pt;
    font-family: 'Times New Roman';
    margin-top: 0.100in;
}
.sec .one {
    font-size: 34.56pt;
    font-family: 'Times New Roman';
    color: white;
    position: absolute;bottom: 1.233in; right: 1in;
}
.sec .two{
    font-size: 23.04pt;
    font-family: 'Times New Roman', Times, serif;
    color: #cc6633;
    position: absolute;bottom: 0.740in; right: 0.947in;
}
.sec{
    justify-content: right;
    justify-items: right;
    height: 4.633in;
    background-color: #b7bcbe;
    
}
.section_two{
    text-align: center;
    height: 3.867in;
}
.section_two  .two{
    font-size: 14.67pt;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 600;
   margin-top: 0.66in;
   /* width: 7.473in;
   height: 0.727in;
   text-align: center; */

}
    
  .section_two .one{
      font-size: 29pt;
      font-family: 'Times New Roman', Times, serif;
      color: #996633;
      margin-top: 1.887in;
      }  

      .section_two hr{
          width:2.907in;
          border: solid  #996633;
          border-width: 1px;
      }
      .main .one,.two,.three{
          text-align: center;
           /* margin-left: 0.02in; */
           /* margin-left: -10px; */
        }
        .one,.two,.three  ,h2{
               font-size: 14.67pt; 
               font-family: 'Times New Roman', Times, serif;   
               margin-top: 0.280in;       /* margin-left: 0.607in; */
        }
        .one,.two,.three , p{
            font-size: 9.78pt;
           margin-top: 0.487in;
        }
      .main img{
          height: 3.847in;
          width: 2.947in;
      }
      .main{
          height: 7.367in;
      }

      .navbar-nav li{
          color: white;
      }

      @media screen and (max-width: 480px) {
        .btn{
          margin-top: 1200px;
        }
      }
      .main_frth{
          background-color: #1f3138;
          /* width: 100%; */
          font-family: 'Times New Roman', Times, serif;
      }

      .none  h3{
          color: #996633;
          font-size: 36.83pt;
          margin-top: 10px;
      }
      .none_one h3{
        color: #996633;
        font-size: 36.83pt;
        margin-top: 10px;      }
  .none_two h3{
    color: #996633;
    font-size: 36.83pt;
    margin-top: 10px;
  }
  .none_three h3{
    color: #996633;
    font-size: 36.83pt;
    margin-top: 10px;

  }
  .main_frth{
      height: 2.280in;
  }
  .part_four {
      margin-top: 60px;
  }
  .none , .none_one , .none_two, .none_three{
      margin-left: 30px;

  }
  .part_four p{
      color: white;
      margin-top: -2px;
      font-size: 12.28pt;
      font-family: 'Times New Roman', Times, serif;
  }
  .empty{
      height: 7.527in;
  } */ */